body{
    background-color: lightpink;
}

h1 {
    text-align: center;
     font-size: 50px;
}

h2{
    font-size: 45px;
}
    
h3{
    font-size: 40px;
}

p.kyocho{
    font-weight: bold;
    font-size: 30px;
}

p.red{
    font-color: red;
    font-weight: bold;
    font-size: 30px;
}

p{
    font-size: 25px;
}

a{
    font-size: 25px;
}
